@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  /*src: url(/fonts/newsCycle.woff2) format('woff2');*/
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/newsCycle.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/openSans.woff') format('woff');
}